* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: BebasNeue;
  font-size: 40px;
  margin: 100px 100px;
}

.thin {
  font-weight: 100;
}

.light {
  font-weight: 200;
}

.bold {
  font-weight: 600;
}

.book {
  font-weight: 300;
}